<!DOCTYPE html>
<html>
  <head>
    <title>OriginalPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("私のGithubリポジトリはこちら", "https://github.com/shimojit?tab=repositories", target: :_blank) %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <a href="https://unsplash.com/ja/%E5%86%99%E7%9C%9F/%E3%83%86%E3%83%BC%E3%83%96%E3%83%AB%E3%81%AE%E8%BF%91%E3%81%8F%E3%81%AE%E7%B7%91%E3%81%AE%E8%91%89%E3%81%AE%E6%A4%8D%E7%89%A9-QnUywvDdI1o?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      の
      <a href="https://unsplash.com/ja/@heftiba?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Toa Heftiba</a>
      が撮影した写真
    </footer>
  </body>
</html>
